.songDetails {
  list-style: none;
  display: grid;
  text-align: center;
  justify-items: center;
  padding: 2em 1em;
  gap: 0.5em;
}

.img {
  width: 25em;
  height: 25em;
  border-radius: 10px;
}

.artist {
  color: var(--secondary-text);
}
